---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { Project } from "@/types";

interface Props extends Project {}
const { title, tags, images, status, link, github, features, longDescription, date, slug, info } = Astro.props;
---

<article class="p-5 rounded-md bg-black/60 grid grid-cols-1 md:grid-cols-3 gap-6">
  <div class="flex flex-col gap-y-2 h-full justify-between md:col-span-2 order-2 md:order-1">
    <div>
        <a class="text-xl font-semibold hover:underline" href={`/proyectos/${slug}`}>{title}</a>
      <p class="mb-4 text-xs">{date}</p>
      <p class="text-balance">
        {longDescription}
      </p>
      {
        features && (
        <p class="mt-2 font-semibold text-lg">Características:</p>
        <ul class="list-disc ml-4 text-balance">
          {features.map((feature) => <li class="text-balance">{feature}.</li>)}
        </ul>
        )
      }
    </div>
    <div>
      <div class="flex gap-2 flex-row my-2 flex-wrap">
        {
          tags.map((tag) => (
            <span
              class={`flex gap-x-2 rounded-full text-xs text-white ${tag.class} py-1 px-2`}
            >
              <Icon name={tag.icon} class={`size-4 ${tag.iconClass}`} />
              {tag.name}
            </span>
          ))
        }
      </div>
    </div>
  </div>
  <div class="md:col-span-1 flex flex-col my-auto order-1 md:order-2">
    <Image
    loading={"eager"}
      alt={title}
      src={images[1]}
      format="webp"
      width={350}
      height={200}
      class="rounded-md object-cover w-full"
    />
    <div class="flex mt-2 gap-x-2">


    <a
      href={github}
      target="_blank"
      class=" bg-[#121212]/50 px-2 py-1 rounded-md justify-center text-sm hover:underline flex items-center gap-x-2 flex-1 border border-white/20"
    >
    Ver repositorio
    
      <Icon name={"Github"} class="size-4 inline" />
    </a>
    <!-- todo: quitar esta condicion cuando este en live -->
    {
    (status === "live" && slug !== "ponderador") && (
      <a
        href={link}
        target="_blank"
        class=" bg-[#121212]/50 px-2 py-1 rounded-md justify-center text-sm hover:underline flex items-center gap-x-2 flex-1 border border-white/20"
      >
        Ver demo
        <Icon name={"external-link"} class="size-4 inline" />
      </a>
    )}
    </div>
    {info && (
      <div class="flex items-center justify-center gap-x-2 bg-blue-900/50 p-2 rounded-md text-xs mt-2 text-white border border-white/20"><Icon name={"info"} class="size-4 inline"/>
        <p>{info}</p>
        {/* No disponible para despliegue. */}
      </div>
    )}
  </div>
</article>
