---
import { Icon } from "astro-icon/components";
import type { Project } from "./projects";
import { Image } from "astro:assets";

interface Props extends Project {}

const { title, tags, image } = Astro.props;
---

<article class="flex gap-y-4 p-5 rounded-md bg-black/60 flex-1 gap-4 justify-between">
  <div class="flex flex-col gap-y-2 h-full justify-between">
    <div>
      <h2 class="text-xl font-semibold mb-4">{title}</h2>
      <p class="text-balance">
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div>
      <div class="flex gap-x-2 flex-row my-2 flex-wrap">
        {
          tags.map((tag) => (
            <span
              class={`flex gap-x-2 rounded-full text-xs text-white ${tag.class} py-1 px-2`}
            >
              <Icon name={tag.icon} class={`size-4 ${tag.iconClass}`} />
              {tag.name}
            </span>
          ))
        }
      </div>
    </div>
      {title === "Sellify" && (
        <div class="bg-red-800 p-2 text-sm">Mensaje</div>
      )}
  </div>
  <Image
    alt={title}
    src={`/${image}`}
    width={350}
    height={350}
    class="rounded-md object-cover"
  />
</article>
