---
import BentoImg from "./BentoImg.astro";
import ProjectItem from "./ProjectItem.astro";

interface Project {
  title: string;
  description: string;
  link: string;
  github: string;
  image: string;
  id: string;
  class: string;
  live: boolean;
}

const projects: Project[] = [
  {
    title: "Url Shortener",
    description: "Acortador de urls.",
    link: "https://url-shorteneer.vercel.app/",
    github: "https://github.com/vcntttt/url-shortener",
    image: "url-shortener.png",
    id: "url-shortener",
    class: "col-span-5",
    live: true,
  },
  {
    title: "Agenda Medica",
    description: "",
    link: "",
    github: "",
    image: "",
    id: "",
    class: "col-span-7",
    live: false,
  },
  {
    title: "Sellify",
    description: "Sistema de gestión de inventario y punto de venta.",
    link: "",
    github: "https://github.com/vcntttt/Sellify-TI2",
    image: "sellify.png",
    id: "sellify",
    class: "col-span-7",
    live: false,
  },
  {
    title: "Recetas Sin Gluten",
    description: "Blog de recetas sin gluten.",
    link: "#",
    github: "https://github.com/vcntttt/recetas-sin-gluten",
    image: "",
    id: "recetas-sin-gluten",
    class: "col-span-5",
    live: false,
  },
];
---

<div
  class=`
  w-full max-w-[1400px]
  grid grid-cols-12 auto-rows-[25rem] gap-4
  mx-auto
`
>
  {
    projects.map((project, index) => (
      <ProjectItem
        class={`${project.class}`}
        title={project.title}
        href={project.link}
        repo={project.github}
        onLive={project.live}
        id={project.id}
      >
        <BentoImg slot="image" imgPath={project.image} />
        <p slot="description" class="text-balance">
          {project.description}
        </p>
      </ProjectItem>
    ))
  }
</div>

<a href="/projects" class="flex w-full justify-end py-2 underline"
  >Ver lista completa</a
>
