---
import BentoImg from "./BentoImg.astro";
import ProjectItem from "./ProjectItem.astro";
import { Icon } from "astro-icon/components";
import { projects } from "./projects";
---

<div
  class=`
  w-full max-w-[1400px]
  grid grid-cols-12 auto-rows-[25rem] gap-4
  mx-auto
`
>
  {
    projects.map((project) => (
      <ProjectItem
        class={`col-span-12`}
        title={project.title}
        href={project.link}
        repo={project.github}
        onLive={project.live}
        id={project.id}
      >
        <BentoImg slot="image" imgPath={project.image} />
        <p slot="description" class="text-balance">
          {project.description}
        </p>
        <div slot="stack" class="flex gap-x-2 flex-row mb-2">
          {project.tags.map((tag) => (
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <Icon name={tag.icon} class="size-4" />
              {tag.name}
            </span>
          ))}
        </div>
      </ProjectItem>
    ))
  }
</div>

<!-- <a href="/projects" class="flex w-full justify-end py-2 underline"
  >Ver lista completa</a
> -->
