---
import BentoImg from "./BentoImg.astro";
import ProjectItem from "./ProjectItem.astro";
import { Icon } from "astro-icon/components";
import { bestProjects } from "./projects";
---

<div
  class=`
  w-full max-w-[1400px]
  grid grid-cols-12 auto-rows-[25rem] gap-4
  mx-auto
`
>
  {
    bestProjects.map((project) => (
      <ProjectItem
      {...project}
      class={`col-span-12`}
      >
        <BentoImg slot="image" imgPath={project.bgImage} />
        <p slot="description" class="text-balance">
          {project.description}
        </p>
        <div slot="stack" class="flex gap-2 flex-row my-2 flex-wrap">
          {project.tags.map((tag) => (
            <span
              class={`flex gap-x-2 rounded-full text-xs text-white ${tag.class} py-1 px-2`}
            >
              <Icon name={tag.icon} class={`size-4 ${tag.iconClass}`} />
              {tag.name}
            </span>
          ))}
        </div>
      </ProjectItem>
    ))
  }
</div>

<a href="/proyectos" class="flex w-full justify-end py-2 underline"
  >Ver lista completa</a
>
