---
import { Icon } from "astro-icon/components";
import clsx from "clsx";
const sections = [
  {
    name: "Inicio",
    href: "/#",
    icon: "Home",
  },
  // {
  //   name: "Experiencia",
  //   href: "/#experience",
  //   icon: "Briefcase"
  // },
  {
    name: "Proyectos",
    href: "/#proyects",
    icon: "Code",
  },
  {
    name: "Cursos",
    href: "/#cursos",
    icon: "notebook",
  },
  {
    name: "Acerca de mí",
    href: "/#about",
    icon: "User",
  },
  {
    name: "Contacto",
    href: "/#contact",
    icon: "Mail",
  },
];
---

<!-- <header class="sticky top-0 w-full px-6 py-4 z-10">
  <nav class="max-w-7xl mx-auto flex items-center justify-end gap-x-12">
    {
      sections.map((section) => (
        <a
          href={section.href}
          aria-label={section.name}
          class={`${Astro.url.pathname === section.href ? "text-red-500" : ""}`}
        >
          {section.name}
        </a>
      ))
    }
  </nav>
</header> -->
<nav
  class="hidden md:fixed right-5 top-1/2 transform -translate-y-1/2 md:flex flex-col items-center gap-4 bg-blue-500/10 rounded-xl p-4"
>
  {
    sections.map((section) => (
      <a
        aria-label={section.name}
        href={`portfolio/${section.href}`}
        class={clsx("", {
          "text-cyan-500": Astro.url.pathname === section.href,
        })}
      >
        <Icon name={section.icon} class="size-6" />
      </a>
    ))
  }
</nav>