---
import { Icon } from "astro-icon/components";
import type { Curso } from "./cursos";
import { Image } from "astro:assets";

interface Props extends Curso {
  class?: string;
}

const { title, instructor, image, icon, link } = Astro.props;
---

<article class="flex flex-col gap-y-4 p-6 rounded-md bg-black/60 flex-1">
  <Image
    src={image}
    alt=`certificado ${title}`
    loading={"lazy"}
    width={350}
    height={350}
    class="rounded-md object-cover h-60 mx-auto"
  />

  <div class="flex">
    <Icon name={icon} class="size-8 text-white" />
    <div class="flex justify-between w-full">
      <h3 class="text-xl font-semibold ml-2">{title}</h3>
      <a href={link} target="_blank" class="underline flex">
        Ver certificado
        <Icon name={"external-link"} class="ml-2 size-6 text-white" />
      </a>
    </div>
  </div>
  <p>{instructor}</p>
</article>
