---
import { Icon } from "astro-icon/components";
import type { Curso } from "./cursos";
import { Image } from "astro:assets";

interface Props extends Curso {
  class?: string;
}

const { title, instructor, icon, link } = Astro.props;
---

<article class="flex flex-col gap-y-4 p-5 rounded-md bg-black/60 flex-1">
  <!-- <Image
    src={image}
    alt=`certificado ${title}`
    loading={"lazy"}
    width={350}
    height={350}
    class="rounded-md object-cover h-60 mx-auto"
  /> -->

  <div class="flex">
    <Icon name={icon} class="size-8 text-black" />
    <div class="flex justify-between w-full items-center">
      <h3 class="text-xl font-semibold ml-1">{title}</h3>
      <a href={link} target="_blank">
        <Icon name={"external-link"} class="ml-1 size-6 text-white" />
      </a>
    </div>
  </div>
  <p>{instructor}</p>
</article>
