---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Navigation/Header.astro";
import "@fontsource-variable/onest";
import "./global.css";
import { op } from "@/op";

op.track("my_event", { foo: "bar" });

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const domain = "vrivera.is-a.dev";
const websiteUrl = `https://${domain}`;
const imgPath = "overview.jpg";
const imgUrl = `https://${domain}/${imgPath}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={websiteUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imgUrl} />
    <meta name="og:image:url" content={imgUrl} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={domain} />
    <meta property="twitter:url" content={websiteUrl} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imgUrl} />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
  </head>
  <body class="bg-[#0f172a]">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest Variable", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fbfbfb;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
