---
import { Icon } from "astro-icon/components";
import type { Project } from "@/types";

interface Props extends Project {
  class: string;
}

const { title, link, github, status } = Astro.props;

const map = {
  live: {
    title: "En producción",
    icon: "🚀",
  },
  soon: {
    title: "Próximamente",
    icon: "🚧",
  },
  finished: {
    title: "Finalizado",
    icon: "✅",
  },
};
---

<article
  class=`
  ${Astro.props.class}
  relative rounded-xl
  backdrop-blur-md
  border border-white/20
  shadow-inner shadow-white/10
  overflow-hidden
  group
  `
>
  <div
    class="absolute bottom-0 top-0 z-10 h-full w-full
  bg-gradient-to-b from-transparent from-40% via-[#121212]/50 to-[#121212]/80"
  >
  </div>
  <slot name="image" />
  <div
    class="relative select-none flex flex-col gap-1 p-6 text-lg z-20 h-full justify-between transform transition-transform duration-700"
  >
    <div>
      <a
        href={status === "live" ? link : github}
        target="_blank"
        class="absolute right-5 bg-[#121212]/50 px-2 py-1 rounded-md text-sm hover:underline"
      >
        {map[status].title}
        <span>{map[status].icon}</span>
      </a>
    </div>
    <div>
      <div class="flex justify-between items-center">
        <h2 class=`font-semibold`>{title}</h2>
        <a
          aria-label=`Ir al repositorio del proyecto ${title}`
          href={github}
          target="_blank"><Icon name={"Github"} class="size-6" /></a
        >
      </div>
      <slot name="description" />
      <slot name="stack" />
    </div>
  </div>
</article>
